.button-container {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-element {
    width: 95%;
    height: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    transition: all var(--transition-time);
    color: var(--primary-font-color);
    font-size: 1em;
}

.button-element:hover {
    transform: scale(1.025);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button-element.secondary {
    background-color: red;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--primary-color);
}